
.titled-pane > .title {
    -fx-pref-height: 40;
    -fx-alignment: baseline-left;
    -fx-font-size: 18;
    -fx-background-color: "A1CCA6";
    -fx-text-fill: black;
    -fx-background-radius: 0.5em;
}

.titled-pane .title:hover {
    -fx-background-color: #AAAAAA;
}

.v-box > .button:hover {
    -fx-background-color: #AAAAAA;
}

.grid-pane > .label {
    -fx-alignment: baseline-center;
    -fx-text-fill: black;
}

.grid-pane > .accordion > {
    -fx-background-color: white;
}

.v-box > .button {
    -fx-font-size: 14;
    -fx-alignment: baseline-left;
    -fx-pref-height: 25;
    -fx-pref-width: 250;
    -fx-padding: 0 0 0 30;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 16;

}

.v-box {
    -fx-spacing: 2.5;

}

.button {
    -fx-font-size: 18;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 35;
    -fx-background-color: "67A586";
    -fx-text-fill: white;
    -fx-background-radius: 0.5em;

}

.button:hover {
    -fx-background-color: #AAAAAA;
}

.titled-pane {
    -fx-animated: true;
    -fx-text-fill: black;
    -fx-collapsible: true;
}

#subCatButtonClicked {
    -fx-font-size: 14;
    -fx-alignment: baseline-left;
    -fx-pref-height: 25;
    -fx-pref-width: 250;
    -fx-padding: 0 0 0 30;
    -fx-background-color: #AAAAAA;
}

#subCatButtonClicked:hover {
    -fx-background-color: #AAAAAA;
}

#subCatButtonStandard {
    -fx-font-size: 14;
    -fx-alignment: baseline-left;
    -fx-pref-height: 25;
    -fx-pref-width: 250;
    -fx-padding: 0 0 0 30;
    -fx-background-color: white;
}

#subCatButtonStandard:hover {
    -fx-background-color: #AAAAAA;
}

#favoriteButtonStandard {
    -fx-background-color: "A1CCA6";
}

#favoriteButtonStandard:hover {
    -fx-background-color: #AAAAAA;
}

#favoriteButtonClicked {
    -fx-background-color: #AAAAAA;
}

#favoriteButtonClicked:hover {
    -fx-background-color: #AAAAAA;
}

