.svg-path {
    -fx-fill:"A1CCA6";
}

.svg-path:hover {
    -fx-fill: #AAAAAA;
}

}

#loggedInAnchor {
    -fx-background-color: #fff;
}

.checkout {
    -fx-background-color: transparent;
}

.informationAnchors {
}

#cartConfirmationAnchor {
    -fx-background-color: #fff;
}

#confirmationAnchor {
    -fx-background-color: #fff;
}

#deliveryInfoAnchor {
    -fx-background-color: #fff;
}

#paymentInfoAnchor {
    -fx-background-color: #fff;
}

.button {
    -fx-background-color: "A1CCA6";
}

.anchor-pane {
    -fx-background-radius: 1em;
}