.svg-path {
    -fx-fill: #00000080;
}

.svg-path:hover {
    -fx-fill: aqua;
}

}

#loggedInAnchor {
    -fx-background-color: #fff;
}

.checkout {
    -fx-background-color: transparent;
}

.informationAnchors {
}

#cartConfirmationAnchor {
    -fx-background-color: #fff;
}

#confirmationAnchor {
    -fx-background-color: #fff;
}

#deliveryInfoAnchor {
    -fx-background-color: #fff;
}

#paymentInfoAnchor {
    -fx-background-color: #fff;
}