
.anchorPaneWithBorder{
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-style: hidden solid hidden solid;
    -fx-border-insets: 0 -1 0 -1;
    -fx-background-color: white;
}


.button:hover {
    -fx-background-color: #AAAAAA;

}

.button {
    -fx-background-color: "A1CCA6";
}