
.anchorPaneWithBorder{
    -fx-border-width: 0;
    -fx-border-color: black;
    -fx-border-style: hidden solid hidden solid;
    -fx-border-insets: 0 -1 0 -1;
    -fx-background-color: white;
}