.Anchor-Pane {
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-background-radius: 1em;
}

/* Uppåtknapp
*/
.increment-arrow-button {
    -fx-background-color:  "A1CCA6";
}
.increment-arrow-button:hover {
    -fx-background-color: #AAAAAA;
}

/* Neråtknapp
*/
.decrement-arrow-button {
    -fx-background-color:  "A1CCA6";
}
.decrement-arrow-button:hover {
    -fx-background-color: #AAAAAA;
}