#window {
    -fx-background-color: "EFEEEE";
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-background-radius: 1em;
}

#background {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.button {
    -fx-background-color: "67A586";
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #AAAAAA;
}
