.pane{
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-radius: 0.5em;
    -fx-background-color: white;

    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}

.button{
    -fx-background-color: #AAAAAA;
}

.button: hover {
    -fx-background-color: "FF7871";
}