.grid-pane {
    -fx-background-color: grey;
}

.anchor-pane {
    -fx-background-color: #AAAAAA;
}

.button {
    -fx-background-color: "A1CCA6";
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #AAAAAA;
}