.pane{
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-border-radius: 1em;
    -fx-background-color: white;

    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}