.grid-pane {
    -fx-background-color: "D0D0D0";
}

.scroll-pane {
    -fx-background-color: "D0D0D0";
}

.button {
    -fx-background-color: "A1CCA6";
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #AAAAAA;
}
