.mainAnchor{
-fx-background-color: #F3FDED;
}

.button {
    -fx-background-color: "A1CCA6";
    -fx-background-radius: 0.5em;
}

.button:hover {
    -fx-background-color: #AAAAAA;
}

.vbox {
   -fx-alignment: center;
    -fx-spacing: 60;
}

.button {
    -fx-background-color: "A1CCA6";
}