.svg-path {
    -fx-fill: #00000080;
}

.svg-path:hover {
    -fx-fill: aqua;
}

#deliveryInfoStackPane {
    -fx-background-color: #fff
}

#loggedInAnchor {
    -fx-background-color: #fff;
}

#notLoggedInAnchor {
    -fx-background-color: #fff;
}

#notLoggedInStackPane {
    -fx-background-color: #fff;
}

#logInDeliveryInfo {
    -fx-background-color: #fff;
}

#guestDeliveryInfo {
    -fx-background-color: #fff;
}

#blankDeliveryInfo {
    -fx-background-color: #fff;
}

.choice-box {
    -fx-background-color: "A1CCA6";
    -fx-font-size: 18px;
}

.choice-box: hover {
    -fx-background-color: #AAAAAA;
}

.date-picker {
    -fx-show-week-numbers: true;
    -fx-font-size: 18px;
}

.button {
    -fx-background-color: "67A586";
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #AAAAAA;
}