#mainAnchor {
    -fx-border-color: "CAE2CD";
    -fx-border-width: 1;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-insets: 0 0 -2 0;
    -fx-background-color: #F3FDED;
}

.button {
    -fx-background-color: "A1CCA6";
}

.button:hover {
    -fx-background-color: #AAAAAA;
}

.menu-button {
    -fx-background-color: "A1CCA6";
}

#icon: hover {
    -fx-background-color: #AAAAAA;
}