#window {
    -fx-background-color: #f4f4f4;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-background-radius: 1em;
}

#background {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.informationPanes {
    -fx-background-color: #f4f4f4;
}

.text-field {
    -fx-pref-width: 200;
    -fx-pref-height: 20;
}

.button {
    -fx-background-color: "A1CCA6";
    -fx-background-radius: 0.5em;
}

.button:hover {
    -fx-background-color: #AAAAAA;
}

#onButtonClicked {
    -fx-background-color: #AAAAAA;
}

#onButtonClicked:hover {
    -fx-background-color: #AAAAAA;
}

#buttonNotClicked {
    -fx-background-color: #A1CCA6;
}

buttonNotClicked:hover {
    -fx-background-color: #AAAAAA;
}